body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
}

.background {
  background-color: #f2f8ff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}

.custom-card {
  border-radius: var(--bs-border-radius);
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
  margin-top: 5%;
}

.container-form {
  height: auto;
  width: 100%;
  gap: 10px;
}

.container-consulta-pedido-texto {
  margin-bottom: 20px;
}

.consulta-pedido-text {
  text-align: left;
  font-size: 30px;
  font-weight: 300;
  color: #626e76;
}

.consulta-pedido-phrase {
  text-align: left;
  font-size: 20px;
  color: #626e76;
}

.imput-form {
  flex: 1;
  max-width: 100%;
}

.form-floating input:focus ~ label,
.form-floating input:placeholder-shown ~ label {
  color: #32445c;
}

.form-floating input:focus ~ label {
  color: #6b6771;
}

.form-floating label {
  margin-top: -2px;
}

.custom-input:focus {
  border-color: #6fb5df;
  box-shadow: 0 0 0 0.2rem #a5d7f3;
}

.custom-input:hover {
  outline: none;
  border-color: #6fb5df;
  cursor: text;
}

.invalid-border {
  border-color: red;
}

.custom-btn {
  background-color: #0084d1;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: inherit;
  margin-top: 6px;
}

.custom-btn:hover {
  background-color: #005f8b;
}

.custom-btn:active {
  background-color: #66c0eb;
}

.custom-btn:disabled {
  background-color: #66c0eb;
}

.custom-btn-consultar,
.custom-btn-voltar {
  width: 120px;
}

.table tbody tr th {
  color: #4b5256 !important;
  vertical-align: middle;
}

.table tbody tr td {
  color: #4b5256 !important;
  vertical-align: middle;
}