<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.close()"
  ></button>
</div>
<div class="modal-body">
  <p>
    Seu voo de {{ reserva.voo.aeroportoOrigem.cidade }} para
    {{ reserva.voo.aeroportoDestino.cidade }} ocorrerá no dia {{ dia }} às
    {{ hora }}. Certifique-se de estar pronto(a) com antecedência para não
    perder sua viagem.
  </p>
  <div class="d-flex align-items-center">
    <input
      type="checkbox"
      id="confirmCheck"
      class="form-check-input me-2"
      [(ngModel)]="confirmacao"
    />
    <label for="confirmCheck"
      >Confirmo que está tudo certo e tenho a intenção de embarcar</label
    >
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn_blue"
    (click)="realizarCheckin()"
    [disabled]="!confirmacao"
  >
    Check-in
  </button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">
    Voltar
  </button>
</div>
