body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f8ff;
  height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.custom-card {
  border-radius: 30px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.custom-header-text {
  font-size: 25px;
  font-weight: 600;
  color: #626e76;
  margin-bottom: 25px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, td {
  color: #4b5256 !important;
  vertical-align: middle;
}


.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #f2f8ff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #626e76;
}

.tabs button.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.tabs button:focus {
  outline: none;
}
