html, body {
  font-family: 'Quicksand', sans-serif !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-color:#F2F8FF !important;
  color: #626e76;
}

.t_blue {
  color: #0084d1;
  font-size: 40px;
  font-weight: 600;
  padding-top: 30px;
}

.t_gray {
  color: #32445c;
  font-size: 40px;
  font-weight: 600;
}

.fullscreen-div {
  width: 100%;
  height: 100%;
}

.btn_blue {
  background-color: #0084d1 !important;
  color: #ffff !important;
  font-weight: 500;
  border: none !important;
  padding: 10px !important;
  border-radius: 20px;
}

.btn_blue:hover {
  background-color: #005f8b !important;
}

.display-flex {
  display: flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.blue_background {
  background-color:#F2F8FF;
}

.header-com-milhas {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header-com-milhas .t_blue {
  padding: 0;
  margin: 0;
  width: 100%;
}

.align-right {
  float: right;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #e2f5fff1;
}
