<div>
  <h1 class="t_blue text-center">Consultar Voos</h1>
  <div class="">
    <div class="container">
      <div class="card shadow-lg custom-card border-0">
        <div class="card-body">
          <div class="container-consulta-pedido-texto">
            <h6 class="consulta-pedido-phrase card-subtitle">
              Digite o aeroporto de origem e o aeroporto de destino.
            </h6>
          </div>
          <form class="container-form d-flex">
            <div class="d-flex align-items-start justify-content-start mb-3 flex-grow-1">
              <div class="imput-form" style="flex: 1">
                <div id="form-floating-consulta-pedido">
                  <div class="form-floating">
                    <select
                      class="form-control custom-input"
                      name="aeroportoOrigem"
                      id="aeroportoOrigem"
                      required
                      [(ngModel)]="aeroportoOrigem"
                    >
                      <option *ngFor="let aeroporto of aeroportos" [value]="aeroporto.codigoAeroporto">
                        {{ aeroporto.codigoAeroporto }}
                      </option>
                    </select>
                    <label for="aeroportoOrigem">Aeroporto de origem</label>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="d-flex align-items-start justify-content-start mb-3 flex-grow-1">
              <div class="imput-form" style="flex: 1">
                <div id="form-floating-consulta-pedido">
                  <div class="form-floating">
                    <select
                      class="form-control custom-input"
                      name="aeroportoDestino"
                      id="aeroportoDestino"
                      required
                      [(ngModel)]="aeroportoDestino"
                    >
                      <option *ngFor="let aeroporto of aeroportos" [value]="aeroporto.codigoAeroporto">
                        {{ aeroporto.codigoAeroporto }}
                      </option>
                    </select>
                    <label for="aeroportoDestino">Aeroporto de destino</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-button">
              <button
                type="submit"
                class="btn btn-primary custom-btn custom-btn-consultar"
                [disabled]="!isFormValid()"
                (click)="listarVoosAtuais(aeroportoOrigem, aeroportoDestino)"
              >
                Consultar
              </button>
            </div>
          </form>
          <div
            *ngIf="mensagem.length > 0"
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <h6 class="alert-heading">{{ mensagem }}</h6>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <table class="table table-hover" *ngIf="voosAtuais.length > 0">
            <tbody>
              <tr>
                <th>Data do Voo</th>
                <th>Codigo Voo</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Preço do Assento</th>
                <th>Assentos Disponíveis</th>
                <th>Ações</th>
              </tr>
              <tr *ngFor="let voo of voosAtuais">
                <td>{{ voo.dataVoo | date : "dd/MM/yyyy - HH:mm" }}</td>
                <td>{{ voo.codigoVoo }}</td>
                <td>{{ voo.aeroportoOrigem.codigoAeroporto }}</td>
                <td>{{ voo.aeroportoDestino.codigoAeroporto }}</td>
                <td>{{ voo.valorPassagem | currency : "BRL" }}</td>
                <td>{{ voo.quantidadePoltronasTotal - voo.quantidadePoltronasOcupadas }}</td>
                <td style="width: 110px">
                  <a
                    href="#"
                    (click)="selecionarVoo(voo, $event)"
                    title="Reservar"
                    class="btn btn_blue"
                  >
                    <i class="fa fa-edit" aria-hidden="true"></i> Reservar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="voosAtuais.length === 0">Nenhum voo encontrado.</p>
        </div>
      </div>
    </div>
  </div>
</div>
