<div class="blue_background fullscreen-div">
  <h1 class="text-center t_blue">Check-in</h1>
  <div class="container">
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
      <h6 class="card-subtitle mb-3" *ngIf="exibeLista">
        Faça o Check-in de seus voos agendados para as próximas 48 horas
      </h6>
      <div id="listaVoos" *ngIf="exibeLista">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Data Viagem</th>
              <th scope="col">Aeroporto Origem</th>
              <th scope="col">Aeroporto Destino</th>
              <th scope="col">Código Voo</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of reservas">
              <td>{{ reserva.voo.dataVoo | date : "dd/MM/yyyy HH:mm" }}</td>
              <td>{{ reserva.voo.aeroportoOrigem.codigoAeroporto }}</td>
              <td>{{ reserva.voo.aeroportoDestino.codigoAeroporto }}</td>
              <td>{{ reserva.voo.codigoVoo }}</td>             
              <td>
                <button
                  class="btn btn_blue"
                  (click)="fazerCheckIn(reserva)"
                >
                  Check-In
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" *ngIf="!exibeLista">
        <p class="h5">
          Você não possui voos programados para as próximas 48 horas
        </p>
      </div>
    </div>
  </div>
</div>
