<div class="container">
  <div class="header-com-milhas">
    <h1 class="t_blue text-center">Dados do voo</h1>
    <div class="card shadow-sm bg-white rounded" style="width: 12rem">
      <div class="card-body">
        <h6 class="card-title text-muted">Saldo em Milhas</h6>
        <p class="card-text h5 text-primary mb-0">{{ qntMilhasCliente }}</p>
      </div>
    </div>
  </div>
  <div class="card shadow-lg custom-card border-0">
    <div class="card-body">
      <div class="container-consulta-pedido-texto">
        <h6 class="consulta-pedido-phrase card-subtitle">
          Confira os dados do voo escolhido:
        </h6>
      </div>

      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <tr>
            <th>Código Voo</th>
            <th>Data/hora</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Preço do Assento</th>
          </tr>
          <tr>
            <td>{{ vooSelecionado.codigoVoo }}</td>
            <td>{{ vooSelecionado.dataVoo | date : "dd/MM/yyyy - HH:mm" }}</td>
            <td>{{ vooSelecionado.aeroportoOrigem.cidade }}</td>
            <td>{{ vooSelecionado.aeroportoDestino.cidade }}</td>
            <td>{{ vooSelecionado.valorPassagem | currency : "BRL" }}</td>
          </tr>
        </tbody>
      </table>

      <h6 class="consulta-pedido-text assentos">
        Informe quantos assentos deseja reservar
      </h6>
      <div class="dadosreserva">
        <div class="col-md-6 reserva-assentos">
          <label for="qntd" class="label-size">Quantidade:</label>
          <input
            type="number"
            class="form-control"
            id="qntd"
            #quantidade
            min="1"
            max="100"
            value="1"
            [(ngModel)]="reserva.quantidadePoltronas"
            (input)="calculaValorPassagem()"
          />
        </div>
      </div>
      <div *ngIf="reserva.quantidadePoltronas > 0">
        <table class="table table-striped table-bordered table-hover tabela2">
          <tbody>
            <tr>
              <th>Valor total</th>
              <th>Milhas necessárias</th>
            </tr>
            <tr>
              <td>{{ valorTotal | currency : "BRL" }}</td>
              <td>{{ valorMilhas }}</td>
            </tr>
          </tbody>
        </table>
        <h6 class="consulta-pedido-text assentos">
          Informe quantas milhas ira usar no pagamento
        </h6>
        <div class="col-md-6 reserva-assentos">
          <label for="qntd" class="label-size">Milhas:</label>
          <input
            type="input"
            class="form-control"
            id="qntd"
            #quantidade
            [max]="valorMilhas"
            min="1"
            [(ngModel)]="qntMilhasPagamento"
            mask="separator.0"
            thousandSeparator="."
          />
          <button
            href="#"
            title="Reservar"
            class="btn btn_blue"
            [disabled]="
              qntMilhasPagamento > valorMilhas || qntMilhasPagamento < 0
            "
            (click)="pagarReserva()"
          >
            <i class="fa fa-edit" aria-hidden="true"></i> Pagar
          </button>
        </div>
      </div>
      <div *ngIf="qntMilhasPagamento > valorMilhas" class="alert alert-danger">
        Você não pode inserir mais milhas do que possui ou do que o necessário.
      </div>
      <div class="confirma-pedido" *ngIf="mostradados1">
        <h6 class="consulta-pedido-text assentos">
          Confira os dados e confirme seu pagamento
        </h6>
        <table class="table table-striped table-bordered table-hover tabela3">
          <tbody>
            <tr>
              <th>Valor total das passagens</th>
              <th>Quantidade total em Milhas</th>
              <th>Quantidade de Milhas utilizadas</th>
              <th>Valor para pagar em dinheiro</th>
            </tr>
            <tr>
              <td>{{ valorTotal | currency : "BRL" }}</td>
              <td>{{ valorMilhas }}</td>
              <td>{{ qntMilhasPagamento }}</td>
              <td>{{ qntMilhasSaldoFinal | currency : "BRL" }}</td>
            </tr>
          </tbody>
        </table>
        <button
          href="#"
          title="confirma-pagamento"
          class="btn btn_blue align-right"
          (click)="confirmaPagamento()"
        >
          <i class="fa fa-edit" aria-hidden="true"></i> Confirmar pagamento
        </button>
      </div>
    </div>
  </div>
</div>
