body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
}

.background {
  background-color: #f2f8ff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}

.custom-card {
  border-radius: var(--bs-border-radius);
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.container-manutencao-roupas-texto {
  margin-bottom: 20px;
}

.manutencao-roupas-text {
  text-align: left;
  font-size: 30px;
  font-weight: 300;
  color: #32445c;
}

.manutencao-roupas-phrase {
  text-align: left;
  font-size: 20px;
    color: #626e76;
}

.container-btn-adicionar {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 15px;
}

.btn-edit {
  background-color: #3dabe1;
}

.btn-edit:hover {
  background-color: #1c8bc1;
}

.btn-edit:active {
  background-color: #66c0eb;
}

.btn-remove {
  background-color: red;
}

.btn-remove:hover {
  background-color: rgb(211, 0, 0);
}

.btn-remove:active {
  background-color: rgb(255, 88, 88);
}

.btn-add {
  background-color: green;
}

.btn-add:hover {
  background-color: rgb(0, 100, 0);
}

.btn-add:active {
  background-color: rgb(0, 182, 0);
}

.btn-voltar {
  margin-top: 35px;
  background-color: #3dabe1;
}

.btn-voltar:hover {
  background-color: #1c8bc1;
}

.btn-voltar:active {
  background-color: #66c0eb;
}

.btn-add,
.btn-voltar {
  width: 120px;
}

.alert-container {
  margin: 0 auto;
  max-width: 890px;
  width: fit-content;
}

.body-with-navbar {
  min-height: calc(100vh - 60px);
}

.container-table .table thead tr {
  position: sticky;
  top: 0;
}

.custom-headers th {
  font-weight: 700;
  margin-bottom: 5px;
  color: #4b5256 !important;
  vertical-align: middle;
}

.alarm-table {
  max-height: 400px;
  overflow: auto;
  width: 100%;
}

.table-items-body td {
  color: #4b5256 !important;
  vertical-align: middle;
  width: 50.5%;
}

tbody .btn_blue {
  padding: 6px !important;
}

tbody .btn {
  min-width: 75px;
}

.btn-add {
  border-radius: 30px;
  font-size: 18px;
}